<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
      
     <category label="30001"> <!-- Settings -->
        <setting type="string" label="30002" />

		 <setting type="lsep" label="30014" />
      
        <!-- Password Field -->
        <setting id="magicPWD" type="text" label="30003" option="hidden" default="" />

		 <setting type="lsep" />

	    <!-- Function Field -->
        <setting id="magicFUNCTION" type="labelenum" label="30004" lvalues="30006|30007|30008|30012|30017|30025|30029|30026|30046" default="NONE" />

        <!-- Download  Fields: Only visible if 'Download' is selected -->
        <setting id="magicDNLDFLG" type="bool" label="30034" default="true" visible="eq(-1,1)" />
        <setting id="magicURL" type="text" label="30011" default="" visible="eq(-2,1)" />
        <setting id="magicDIR" type="folder" label="30009" default="" visible="eq(-3,1)" />
        <setting id="magicNAME" type="text" label="30010" default="" visible="eq(-4,1)" />

        <!-- Hash Text Fields: Only visible if 'Download' is selected -->		 
        <setting id="magicHASH" type="text" label="30013" default="" visible="eq(-5,3)" />

		<!-- Backgroundad Fields: Only visible if 'Download' is selected -->
        <setting type="string" label="30019" visible="eq(-6,4)" />
        <setting id="magicBKGNDFLG" type="bool" label="30020" default="true" visible="eq(-7,4)" />
		 
	    <!-- Select a MB-KODI or Custom background file -->
        <setting id="magicBKGNDFILE" type="labelenum" label="30021" lvalues="30006|30032|30033" visible="eq(-1,true)+eq(-8,4)" default="NONE" />
        <setting id="magicCUSBKGNDFILE" type="file" label="30031" visible="eq(-2,false)+eq(-9,4)" default="NONE" />

		 <!-- Backgroundad Fields: Only visible if 'Download' is selected -->
        <setting type="string" label="30030" visible="eq(-10,6)" />
        <setting id="magicCONFBKGNDFLG" type="bool" label="30020" default="true" visible="eq(-11,6)" />

	    <!-- Select a MB-KODI or Custom background file -->
        <setting id="magicCONFBKGNDFILE" type="labelenum" label="30021" lvalues="30006|30032|30033" visible="eq(-1,true)+eq(-12,6)" default="NONE" />
        <setting id="magicCONFCUSBKGNDFILE" type="file" label="30031" visible="eq(-2,false)+eq(-13,6)" default="NONE" />

        <!-- Download  Fields: Only visible if 'Download Stalker' is selected -->
        <setting id="magicSTALKURL" type="text" label="30011" default="" visible="eq(-14,9)" />
        <setting id="magicSTALKDIR" type="folder" label="30009" default="" visible="eq(-15,9)" />
        <setting id="magicSTALKNAME" type="text" label="30010" default="" visible="eq(-16,9)" />

    </category>

	<category label="30036"> <!-- Help Section -->
        <setting type="string" label="30039" />
        <setting label="30037" type="action" id="dm-Help-Overview" action="ShowPicture(special://home/addons/do-magic/resources/do-magic-Help-Overview.png)"/>
        <setting label="30040" type="action" id="dm-Help-Menu" action="ShowPicture(special://home/addons/do-magic/resources/do-magic-Help-Menu.jpg)"/>
		
        <setting label="30041" type="action" id="dm-Help-Downloader" action="ShowPicture(special://home/addons/do-magic/resources/do-magic-Help-Downloader.jpg)"/>
        <setting label="30042" type="action" id="dm-Help-Addons" action="ShowPicture(special://home/addons/do-magic/resources/do-magic-Help-MB-KODI-ADDONS.jpg)"/>
        <setting label="30043" type="action" id="dm-Help-SkinBG" action="ShowPicture(special://home/addons/do-magic/resources/do-magic-Help-SkinBackground.jpg)"/>
        <setting label="30044" type="action" id="dm-Help-KodiBG" action="ShowPicture(special://home/addons/do-magic/resources/do-magic-Help-KodiBackground.jpg)"/>
        <setting label="30045" type="action" id="dm-Help-Hash-Stalker" action="ShowPicture(special://home/addons/do-magic/resources/do-magic-Help-Hash-Stalker.jpg)"/>
		
        <setting label="30038" type="action" id="dm-Help-Overview" action="ShowPicture(special://home/addons/do-magic/resources/do-magic-Help-ContactUs.png)"/>

     </category>
	
</settings>
